body{
  background-color: #F9FAFE;
}
.a_tbdr{
  border: 1px solid red;
}
header{
  height: 106px;
  background-color: #9B33CD;
}
main{
  height: 500px;
}
footer{
  height: 67px;
  background-color: #0380AE;
}
.a_b{
  background-color: #33B6E5;
  color: #fff;
}